@font-face {
    font-family: "icons";
    src: url("./fonts/icons.eot?8359f8e5cf9e715e360d369caa7c914a?#iefix") format("embedded-opentype"),
url("./fonts/icons.woff2?8359f8e5cf9e715e360d369caa7c914a") format("woff2"),
url("./fonts/icons.woff?8359f8e5cf9e715e360d369caa7c914a") format("woff"),
url("./fonts/icons.ttf?8359f8e5cf9e715e360d369caa7c914a") format("truetype"),
url("./fonts/icons.svg?8359f8e5cf9e715e360d369caa7c914a#icons") format("svg");
}

.icon {
    line-height: 1;
	display: inline-block;
}

.icon:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icon--key:before {
    content: "\f101";
}
.icon--user:before {
    content: "\f102";
}
